 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
 </head>
 <body style="background-color :rgb(245, 230 , 211); color: black ;">
    <form action="cadastrar" method="post">
        <p>
            <label for=" usuario"> Digite seu nome:</label><br>     
            <input type=" text" name="usuario" id="usuario" placeholder="digite seu usuario">
        </p>
        <p>
            <label for= "email" > Digite seu Email:</label><br>
            <input type="email" name="cremail" id="email" placeholder="digite seu email"> 
        </p>
        <p>
            <label for= "senha"> Digite sua senha:</label><br>
            <input type="password" name="crsenha" id="senha" placeholder="digite sua senha">
        </p>
    
    <p> 
        <a href="#">
        <input type="button" value="Login"> 
        </a>
        
      
    
 </body>
 </html>
 
 