 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>cadastro</title>
    <h2>Ola, cadastre-se gratuitamente para utilizar nossos serviços!</h2>
 </head>
 <body>
    <form action="/cadastro" method="POST">
        <p>
            <label for=" usuario"> Digite seu nome:</label><br>     
            <input type=" text" name="usuario" id="usuario" placeholder="digite seu usuario" required>
        </p>
        <p>
            <label for= "email" > Digite seu Email:</label><br>
            <input type="email" name="cremail" id="email" placeholder="digite seu email" required> 
        </p>
        <p>
            <label for= "senha"> Digite sua senha:</label><br>
            <input type="password" name="crsenha" id="senha" placeholder="digite sua senha" required>
        </p>
    
        <p> <a href="main.html">
        <button type="submit"> cadastrar-se </button> 
        </a>
        
      
     
 </body>
 </html>
 
 