 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo_cadastro.css">
    <title>cadastro</title>
 </head>
    <body>
        <form action="cadastrar" method="post">
           <p>
               <label  for=" usuario"></label><br>     
               <input class="texto_caixa" type=" text" name="usuario" id="usuario" placeholder="Usuario">
           </p>
           <p>
              <label  for= "email" ></label><br>
               <input class="texto_caixa" type="email" name="cremail" id="email" placeholder="Email"> 
           </p>
           <p>
                <label  for= "senha"></label><br>
               <input class="texto_caixa" type="password" name="crsenha" id="senha" placeholder="Senha">
            </p>
    
       <p> 
         <a href="#">
         <input class="mds" type="button" value="Login"> 
         </a>
        </p> 

         <div>
            
        <div class="decoracao_lado">
            <img class="img_logo" src="ChatGPT_Image_27_de_mar._de_2026__20_42_32-removebg-preview.png" alt="">
        </div> 
        
      
    
    </body>
 </html>
 
 