 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilo_cadastro.css')}}">
    <title>cadastro</title>
 </head>
    <body>
        <form action="/cadastro" method="POST">
           <p>
               <label  for=" usuario"></label><br>     
               <input class="texto_caixa" type=" text" name="usuario" id="usuario" placeholder="Usuario">
           </p>
           <p>
              <label  for= "email" ></label><br>
               <input class="texto_caixa" type="email" name="cremail" id="email" placeholder="Email"> 
           </p>
           <p>
                <label  for= "senha"></label><br>
               <input class="texto_caixa" type="password" name="crsenha" id="senha" placeholder="Senha">
            </p>
    
       <p> 
         <input class="mds" type="submit" value="Login">
        </p> 

         <div>
            
        <div class="decoracao_lado">
            <img class="img_logo" src="{{ url_for('static', filename='img/ImagemLogo.png')}}" alt="">
        </div> 
        </form>
        
      
    
    </body>
 </html>
 
 