<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilo_login.css')}}">
</head>
<body>
    {% if erro %}
        <div style="background-color: #ff4d4d; padding: 10px; border-radius: 8px; color: white; margin-bottom: 10px;">
        {{ erro }}
    </div>
    {% endif %}
    <form action="/login" method="POST">
        <img class="img_login" src="{{ url_for('static', filename='img/ImagemUser.png')}}" alt="">    
        <p>
            <label for= "email"></label><br>
            <input class="texto_caixa" type="email" name="email" id="email" placeholder="Email"> 
        </p>
        <p>
            <label for= "senha"></label><br>
            <input class="texto_caixa" type="password" name="senha" id="senha" placeholder="Senha">
        </p>
    
    <p> <input class="mds" type="submit" value="Login"> </p>
    </form>
    <a class="cadastro" href="{{url_for('cadastro')}}"> cadastrar-se</a><br>

    <div class="decoracao_lado">
        <img class="img_logo" src="{{url_for('static', filename= 'img/imagemLogo.png')}}" alt="">
    </div> 
    </form>
    
</body>
</html>