<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estilo_login.css">
</head>
<body>

    <form action="login" method="post">
        <img class="img_login" src="ChatGPT Image 27 de mar. de 2026, 20_51_06.png" alt="">    
        <p>
            <label for= "email"></label><br>
            <input class="texto_caixa" type="email" name="email" id="email" placeholder="Email"> 
        </p>
        <p>
            <label for= "senha"></label><br>
            <input class="texto_caixa" type="password" name="senha" id="senha" placeholder="Senha">
        </p>
    
    <p> <input class="mds" type="button" value="Login"> </p>
    </form>
    <a class="cadastro" href="Cadastro_site/cadastro.html"> cadastrar-se</a><br>

    <div class="decoracao_lado">
        <img class="img_logo" src="ChatGPT_Image_27_de_mar._de_2026__20_42_32-removebg-preview.png" alt="">
    </div> 
    
</body>
</html>